.App {
  text-align: center;
  height: 100vh;
}

/* Leaflet の地図にデフォルトで指定されているクラス
地図はこのクラスにラップされているので、ここで表示の大きさを指定できる。
ということでひとまず画面いっぱいに表示している。 */
.leaflet-container {
  width: 100vw;
  height: 100vh;
}